Repository fga-eps-mds/2020.2-Eccoar, pull requests merged in 2021-05, with the labels that each got.

#192 Solve #188 Documentação Sprint Planning 11
  docs/sprints/11/planning.md
  mkdocs.yml
Labels: DOCS, EASY, EPS

#201 Solve #200 Documentar Review da Sprint 11
  docs/assets/img/sprints/11/burndown.png
  docs/assets/img/sprints/11/conhecimento.png
  docs/assets/img/sprints/11/conhecimentoGraphic.png
  docs/assets/img/sprints/11/cumulativeFlow.png
  docs/assets/img/sprints/11/cycleTime.png
  docs/assets/img/sprints/11/cycleTimeReview.png
  docs/assets/img/sprints/11/humor.png
  docs/assets/img/sprints/11/retrospectiva.png
  docs/assets/img/sprints/11/risk.png
  docs/assets/img/sprints/11/velocity.png
  docs/sprints/11/retrospectiva.md
  docs/sprints/11/review.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, Scrum Master

#206 Solve #196 Revisão de backlog
  docs/produto/backlogAceitacao/backlogProduto.md
  docs/produto/backlogAceitacao/criteriosAceitacao.md
  docs/produto/roadmap.md
Labels: DOCS, EPS

#207 Solve #199 Sprint Planning 12
  docs/sprints/12/planning.md
  mkdocs.yml
Labels: DOCS, EASY, EPS

#221 Solve #198 Modelo de Documentação do Analytics
  docs/metodologia/templates/analytics.md
  mkdocs.yml
Labels: ANALYTICS, EPS, MEDIUM

#236 Solve #224 Review Sprint 12
  README.md
  docs/assets/img/sprints/12/burndown.png
  docs/assets/img/sprints/12/conhecimento.png
  docs/assets/img/sprints/12/conhecimentoGraphic.png
  docs/assets/img/sprints/12/cumulativeFlow.png
  docs/assets/img/sprints/12/cycleTime.png
  docs/assets/img/sprints/12/cycleTimeReview.png
  docs/assets/img/sprints/12/humor.png
  docs/assets/img/sprints/12/retrospectiva.png
  docs/assets/img/sprints/12/risk.png
  docs/assets/img/sprints/12/velocity.png
  docs/sprints/12/retrospectiva.md
  docs/sprints/12/review.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, Scrum Master

#242 Solve #225 Sprint 13 Planning
  docs/sprints/13/planning.md
  mkdocs.yml
Labels: DOCS, EASY, EPS

#244 Solve #243 Correção da página do protótipo na wiki
  docs/assets/img/produto/Prototipo/Cadastro1.png
  docs/assets/img/produto/Prototipo/Cadastro2.png
  docs/assets/img/produto/Prototipo/Cadastro3.png
  docs/assets/img/produto/Prototipo/Create1.png
  docs/assets/img/produto/Prototipo/Create2.png
  docs/assets/img/produto/Prototipo/Create3.png
  docs/assets/img/produto/Prototipo/Create4.png
  docs/assets/img/produto/Prototipo/Create5.png
  docs/assets/img/produto/Prototipo/Detalhes.png
  docs/assets/img/produto/Prototipo/Drawer.png
  docs/assets/img/produto/Prototipo/Feed.png
  docs/assets/img/produto/Prototipo/Filter.png
  docs/assets/img/produto/Prototipo/Historic.png
  docs/assets/img/produto/Prototipo/Login.png
  docs/assets/img/produto/Prototipo/Logo.png
  docs/assets/img/produto/Prototipo/Main.png
  docs/assets/img/produto/Prototipo/Profile.png
  docs/assets/img/produto/Prototipo/Sobre.png
  docs/assets/img/produto/Prototipo/esboco1.jpg
  docs/assets/img/produto/Prototipo/esboco2.jpg
  docs/assets/img/produto/Prototipo/esboco3.jpg
  docs/assets/img/produto/Prototipo/esboco4.jpg
  docs/produto/backlogAceitacao/backlogProduto.md
  docs/produto/prototipo.md
  docs/produto/roadmap.md
Labels: DOCS, EASY, EPS, HOTFIX

#247 Solve #246 Testes de aceitação
  docs/produto/roadmap.md
  docs/usuario/testesAceitacao.md
  mkdocs.yml
Labels: DOCS, EASY, EPS
