Repository fga-eps-mds/2020.2-Eccoar, pull requests merged in 2021-04, with the labels that each got.

#136 Solve #135 Documentação Planning 7
  docs/sprints/7/planning.md
  mkdocs.yml
Labels: Gerenciamento, Product Owner, documentation

#150 Solve #133 Cálculo de quantidade de votos
  docs/produto/extras/calculoVotos.md
  mkdocs.yml
Labels: Gerenciamento, Product Owner, documentation

#155 Solve #154 Documentação Planning Sprint 8
  docs/sprints/6/planning.md
  docs/sprints/7/planning.md
  docs/sprints/8/planning.md
  mkdocs.yml
Labels: DOCS, Gerenciamento, Product Owner

#164 Solve #157 Documentação Sprint Planning 9
  docs/sprints/8/planning.md
  docs/sprints/9/planning.md
  mkdocs.yml
Labels: DOCS, EASY, EPS

#168 Solve #158 Documentar review da sprint 8
  docs/assets/img/sprints/8/burndown.png
  docs/assets/img/sprints/8/conhecimento.png
  docs/assets/img/sprints/8/conhecimentoGraphic.png
  docs/assets/img/sprints/8/cumulativeFlow.png
  docs/assets/img/sprints/8/cycleTime.png
  docs/assets/img/sprints/8/cycleTimeReview.png
  docs/assets/img/sprints/8/humor.png
  docs/assets/img/sprints/8/retrospectiva.png
  docs/assets/img/sprints/8/risk.png
  docs/assets/img/sprints/8/velocity.png
  docs/sprints/7/review.md
  docs/sprints/8/retrospectiva.md
  docs/sprints/8/review.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, Scrum Master

#178 Solve #174 Revisão: Documentar GitFlow
  CONTRIBUTING.md
  docs/contribuicao/contribuicao.md
Labels: DOCS, EASY, EPS

#177 Solve #176 Revisão: Novo modelo de acompanhamento
  docs/metodologia/sprints.md
Labels: DOCS, EASY, EPS, Scrum Master

#180 Solve #170 Documentação Planning Sprint 10
  docs/sprints/1/planning.md
  docs/sprints/10/planning.md
  docs/sprints/3/planning.md
  docs/sprints/4/planning.md
  docs/sprints/9/planning.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, Product Owner

#179 Solve #169 Documentar review da sprint 9
  docs/assets/img/sprints/9/burndown.png
  docs/assets/img/sprints/9/conhecimento.png
  docs/assets/img/sprints/9/conhecimentoGraphic.png
  docs/assets/img/sprints/9/cumulativeFlow.png
  docs/assets/img/sprints/9/cycleTime.png
  docs/assets/img/sprints/9/cycleTimeReview.png
  docs/assets/img/sprints/9/humor.png
  docs/assets/img/sprints/9/retrospectiva.png
  docs/assets/img/sprints/9/risk.png
  docs/assets/img/sprints/9/velocity.png
  docs/sprints/8/retrospectiva.md
  docs/sprints/9/retrospectiva.md
  docs/sprints/9/review.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, Scrum Master

#184 Solve #173 Revisão Doc de Arquitetura
  docs/assets/img/produtos/docArquitetura.png
  docs/projeto/documento-arquitetura.md
Labels: ARQ, DOCS

#190 Solve #189 Documentar review da sprint 10
  docs/assets/css/extra.css
  docs/assets/img/sprints/10/burndown.png
  docs/assets/img/sprints/10/conhecimento.png
  docs/assets/img/sprints/10/conhecimentoGraphic.png
  docs/assets/img/sprints/10/cumulativeFlow.png
  docs/assets/img/sprints/10/cycleTime.png
  docs/assets/img/sprints/10/cycleTimeReview.png
  docs/assets/img/sprints/10/humor.png
  docs/assets/img/sprints/10/retrospectiva.png
  docs/assets/img/sprints/10/risk.png
  docs/assets/img/sprints/10/velocity.png
  docs/sprints/10/retrospectiva.md
  docs/sprints/10/review.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, Scrum Master
